
  header {
    width: 100%;
    background-color: var(--primary-bg-color);

    nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4rem 7rem;
      background-color: transparent;

      .logo {
        width: 17rem;
        margin-left: 10rem;

        figure {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8rem;
        list-style: none;
        padding-right: 13rem;

        li {
          a {
            font-size: 2.6rem;
            font-weight: 600;
            font-family: var(--font-primary);
            letter-spacing: 1px;
            color: #4d2111;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
              color: #44633F;
            }
          }
        }
      }
    }
  }

  main {
    width: 100%;

    .landing-content {
      width: 100%;
      min-height: calc(100vh - 25rem);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 4rem;
      background: linear-gradient(rgb(255, 181, 82), rgb(254, 203, 140));

      .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 7rem;
        padding-left: 8rem;

        h1 {
          line-height: 15rem;
          font-size: 17rem;
          font-weight: 700;
          font-family: var(--font-third);
          color: #4d2111;
          max-width: 80%;
        }

        p {
          font-size: 2.5rem;
          font-weight: 400;
          font-family: var(--font-primary);
          color: #4d2111;
          max-width: 80%;
          line-height: 3.5rem;
        }

        button {
          width: 22rem;
          height: 5rem;
          font-size: 2.2rem;
          font-weight: 400;
          font-family: var(--font-primary);
          text-transform: uppercase;
          letter-spacing: 1.5px;
          color: white;
          background-color: #44633F;
          border: none;
          border-radius: .5rem;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #4d2111;
          }
        }
      }

      .right {
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 2rem;

        img {
          overflow: hidden;
          width: 100%;
        }
      }
    }
  }

