* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Lilita One", sans-serif;
  --primary-bg-color: #ffb552;
  --secondary-bg-color: #fecb8c;
  --third-bg-color: #f6f0e4;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--third-bg-color);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
