* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Lilita One', sans-serif;
  --font-third: 'Amaranth', sans-serif;
  --font-fourth: "Merriweather", serif;
  --primary-bg-color: rgb(255, 181, 82);
  --secondary-bg-color: rgb(254, 203, 140);
  --third-bg-color: #F6F0E4;
}

body {
  width: 100%;
  height: 100%;
  border-color: var(--third-bg-color);
}

.container {
  background-color: var(--third-bg-color);
}
